{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<header  id="home" class="jumbotron">

			<div class="container">

				<div class="row">

					<div class="col-sm-6 text-col">

						<h1 class="in" style="font-size: 38.3333px;">Hi, I am Sangeeth</h1>
						<p class="in" style="font-size: 28.75px;">a problem solver</p>

					</div>

					<div class="col-sm-6">
						<div class="imac-frame in">
							<img class="img-responsive img-center" src="{% static 'img/black.jpg' %}" alt="">

						</div>
					</div>

				</div>

			</div>

<br><br>

	<section id="services" class="white-bg padding-top-bottom">

			<div class="container">

				<header class="section-header text-center">

					<h1 class="scrollimation ">What I Do</h1>
					<br>

					<p>I am passionate about creating something all the time, coding, and reading and writing <br>and have a small dream to make this world happier.</p>
<br>
				</header>

				<div class="row services">

					<div class="col-md-3 col-sm-6 item ">

						<div class="icon">
							<img class="img-responsive img-center" src="{% static 'img/coding.png'  %}" alt="">
						</div>

						<h2 class="text-center" >Coding</h2>
						<p class="text-center">I am well passionate to coding. Trying to acquire knowledge from resources around. I like python most.</p>

					</div>

					<div class="col-md-3 col-sm-6 item ">

						<div class="icon">
							<img class="img-responsive img-center" src="{% static 'img/teacher.png'  %}" alt="">
						</div>

						<h2 class="text-center">Teaching</h2>
						<p class="text-center">Started teaching career from 8th as tuition teacher. Still continuing taking it as a great passion. APJ is my inspiration. </p>

					</div>

					<div class="col-md-3 col-sm-6 item ">

						<div class="icon">
							<img class="img-responsive img-center" src="{% static 'img/solving.png' %}" alt="">
						</div>

						<h2 class="text-center">Solving</h2>
						<p class="text-center">solves problems. Whatever the problem be, real life or mathematical, with my capacity, i can hardwork to solve it.</p>

					</div>

					<div class="col-md-3 col-sm-6 item ">

						<div class="icon">
							<img class="img-responsive img-center" src="{% static 'img/read.png' %}" alt="">
						</div>

						<h2 class="text-center">Read & Write</h2>
						<p class="text-center">Read a lot make me think and write a lot. One of the main knowledge seeking way, even in book or internet.</p>

					</div>

				</div>

			</div>

		</section>



		<section id="about" class="dark-bg light-typo padding-top-bottom">

			<div class="container">

				<header class="section-header text-center">
<br>
					<h1 >About Me</h1>
<br>
				</header>

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">

						<img class="img-responsive img-center img-circle " src="{% static 'img/sai.jpg' %}" alt="">
<br>
						<p class="text-center scrollimation ">My name is Sangeeth M.S. 20 year old from kerala, india. Completed graduation in bachelor of computer applications. </p>
<br>
					</div>

				</div>





			</div>

		</section>
		<section id="skills" class="white-bg">

			<div class="container">

				<div class="row skills">
<br>
					<h1 class="text-center scrollimation ">My Skills</h1>
<br>
					<div class="col-sm-6 col-md-3 text-center">
						<img class="img-responsive img-center img-circle " src="{% static 'img/python.png' %}" alt="">
						<h2 class="text-center">Python</h2>
					</div>
					<div class="col-sm-6 col-md-3 text-center">
						<img class="img-responsive img-center img-circle " src="{% static 'img/java.png' %}" alt="">
						<h2 class="text-center">Java</h2>
					</div>
					<div class="col-sm-6 col-md-3 text-center">
						<img class="img-responsive img-center img-circle " src="{% static 'img/php.png' %}" alt="">
						<h2 class="text-center">PHP</h2>
					</div>
					<div class="col-sm-6 col-md-3 text-center">
						<img class="img-responsive img-center img-circle " src="{% static 'img/asp.png' %}" alt="">
						<h2 class="text-center">ASP.NET</h2>
					</div>

				</div><!--End row -->

			</div>


		</section>


		</header>

{% endblock %}